@mixin absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
@mixin flex($justify: center, $align: center, $gap: 0, $direction: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  @if ($gap != 0) {
    gap: $gap + px;
  }
  @if ($direction != 0) {
    flex-direction: $direction;
  }
}
@mixin cursive($size: 27) {
  font-family: "Pattaya", sans-serif;
  font-size: $size + px;
}
@mixin page-title {
  @include title;
  @media (max-width: 559px) {
    font-size: 25px;
  }
}
@mixin title {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 37px;
}
@mixin mobile-hide {
  @media (max-width: 559px) {
    display: none;
  }
}
@mixin responsive($width: 559, $condition: max) {
  @media (#{$condition}-width: $width + px) {
    @content;
  }
}
