@use "sass:math";

//Colors
$namazu: #e62e39;
$gold: #e6b12e;
$lightblack: #776f74;
$grey: #e0dfe4;
$black-veil: rgba(0, 0, 0, 0.2);

$colors: (
  "primary": $namazu,
  "secondary": $gold,
  "tertiary": $grey
);

$mog: #e62e95;
$chocobo: #fff233;
$pampa: #95e62e;
$carbuncle: #2e95e6;

$teams: (
  "mog": $mog,
  "chocobo": $chocobo,
  "pampa": $pampa,
  "carbuncle": $carbuncle
);

//Font sizes
$font-regular: 16px;
$font-small: 14px;
$font-large: 20px;
$font-xxl: 27px;

//Loading spinner
$load-dur: 700ms;
$load-num: 4;
$load-delay: math.div($load-dur, $load-num);
