@use "sass:math";

//Colors
$namazu: #e62e39;
$gold: #ffd700;
$fail: #00ffd8;
$lunar: #d800ff;
$grey: #e0dfe4;
$black-veil: rgba(0, 0, 0, 0.2);

$valid: #22c017;
$invalid: fade-in(veil($namazu), 1);

$main-black: lighten(black, 15%);
$minor-black: lighten(black, 10%);
$light-black: #776f74;
$minor-white: darken(white, 5%);
$grey: #e0dfe4;

$colors: (
  "primary": $namazu,
  "secondary": $gold,
  "tertiary": $grey
);

$mog: #e62e95;
$chocobo: #fff233;
$pampa: #95e62e;
$carbuncle: #2e95e6;
$tomberry: #ff6f00;

$teams: (
  "mog": $mog,
  "chocobo": $chocobo,
  "pampa": $pampa,
  "carbuncle": $carbuncle,
  "tomberry": $tomberry
);

//Font sizes
$font-regular: 16px;
$font-small: 14px;
$font-large: 20px;
$font-xxl: 27px;

//Loading spinner
$load-dur: 400ms;
$load-num: 4;
$load-delay: math.div($load-dur, $load-num);
