//Colors
$mog: #ff99d2;
$chocobo: #ffff6b;
$pampa: #d2ff99;
$carbuncle: #99d2ff;
$namazu: #b32927;
$dark-namazu: darken($namazu, 15%);
$gold: #f3d17b;
$lightblack: #776f74;
$grey: #e0dfe4;
$black-veil: rgba(0, 0, 0, 0.2);
